application/Node-RED/send_command_to_target.txt
[{"id":"606fc317.9f903c","type":"ibmiot","z":"8c33953c.73cc68","name":"NodeRED Key"},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"8c33953c.73cc68","authentication":"apiKey","apiKey":"606fc317.9f903c","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":251,"y":291,"wires":[["c0c482df.3f3b8","c07ee32b.3f812"]]},{"id":"c0c482df.3f3b8","type":"debug","z":"8c33953c.73cc68","name":"device data","active":true,"console":"false","complete":"true","x":441.5,"y":247,"wires":[]},{"id":"c07ee32b.3f812","type":"switch","z":"8c33953c.73cc68","name":"tempcheck","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"gte","v":"28","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":446,"y":349,"wires":[["75ace0d4.8a532"],["e7e30133.181d"]]},{"id":"e7e30133.181d","type":"debug","z":"8c33953c.73cc68","name":"msg","active":false,"console":"false","complete":"true","x":589,"y":405,"wires":[]},{"id":"75ace0d4.8a532","type":"function","z":"8c33953c.73cc68","name":"hightempFunc","func":"var r;\nvar obj = msg.payload.d;\n\nr = obj.temp;\nmsg.eventOrCommandType=\"overtemp\";\nmsg.payload = JSON.stringify({\"d\":{\"temp\":r}});\n\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":316,"wires":[["b7b3b635.484c48","cf995368.3066b"]]},{"id":"b7b3b635.484c48","type":"ibmiot out","z":"8c33953c.73cc68","authentication":"apiKey","apiKey":"606fc317.9f903c","outputType":"cmd","deviceId":"na","deviceType":"VxWorks_Galileo","eventCommandType":"na","format":"json","data":"na","name":"IBM IoT","service":"registered","x":802,"y":344,"wires":[]},{"id":"cf995368.3066b","type":"debug","z":"8c33953c.73cc68","name":"outputMessage","active":false,"console":"false","complete":"true","x":826,"y":287,"wires":[]}]


API Key:	a-hrpkf3-tyupgakmza
Token:		A9PxKIBoNqx+JTGQ*?